In [1]:
import pandas as pd
import numpy as np

In [3]:
my_df= pd.read_csv('Bus_Breakdown_and_Delays.csv')
my_df2 = my_df.loc[0:4]
my_df2

,School_Year,Busbreakdown_ID,Run_Type,Bus_No,Route_Number,Reason,Schools_Serviced,Occurred_On,Created_On,Boro,...,How_Long_Delayed,Number_Of_Students_On_The_Bus,Has_Contractor_Notified_Schools,Has_Contractor_Notified_Parents,Have_You_Alerted_OPT,Informed_On,Incident_Number,Last_Updated_On,Breakdown_or_Running_Late,School_Age_or_PreK
0,2015-2016,1224901,Pre-K/EI,811,1,Other,C353,10/26/2015 08:30:00 AM,10/26/2015 08:40:00 AM,Bronx,...,10MINUTES,5,Yes,Yes,No,10/26/2015 08:40:00 AM,NaN,10/26/2015 08:40:39 AM,Running Late,Pre-K
1,2015-2016,1225098,Pre-K/EI,9302,1,Heavy Traffic,C814,10/27/2015 07:10:00 AM,10/27/2015 07:11:00 AM,Bronx,...,25 MINUTES,3,Yes,Yes,No,10/27/2015 07:11:00 AM,NaN,10/27/2015 07:11:22 AM,Running Late,Pre-K
2,2015-2016,1215800,Pre-K/EI,358,2,Heavy Traffic,C195,09/18/2015 07:36:00 AM,09/18/2015 07:38:00 AM,Bronx,...,15 MINUTES,12,Yes,Yes,Yes,09/18/2015 07:38:00 AM,NaN,09/18/2015 07:38:44 AM,Running Late,Pre-K
3,2015-2016,1215511,Pre-K/EI,331,2,Other,C178,09/17/2015 08:08:00 AM,09/17/2015 08:12:00 AM,Bronx,...,10 minutes,11,Yes,Yes,Yes,09/17/2015 08:12:00 AM,NaN,09/17/2015 08:12:08 AM,Running Late,Pre-K
4,2015-2016,1215828,Pre-K/EI,332,2,Other,S176,09/18/2015 07:39:00 AM,09/18/2015 07:45:00 AM,Bronx,...,10MINUTES,12,Yes,Yes,No,09/18/2015 07:45:00 AM,NaN,09/18/2015 07:56:40 AM,Running Late,Pre-K

In [ ]:
# Grab row method 1 Location .loc
my_df2.loc[2]

School_Year                                     2015-2016
Busbreakdown_ID                                   1215800
Run_Type                                         Pre-K/EI
Bus_No                                                358
Route_Number                                            2
Reason                                      Heavy Traffic
Schools_Serviced                                     C195
Occurred_On                        09/18/2015 07:36:00 AM
Created_On                         09/18/2015 07:38:00 AM
Boro                                                Bronx
Bus_Company_Name                             G.V.C., LTD.
How_Long_Delayed                               15 MINUTES
Number_Of_Students_On_The_Bus                          12
Has_Contractor_Notified_Schools                       Yes
Has_Contractor_Notified_Parents                       Yes
Have_You_Alerted_OPT                                  Yes
Informed_On                        09/18/2015 07:38:00 AM
Incident_Number                                       NaN
Last_Updated_On                    09/18/2015 07:38:44 AM
Breakdown_or_Running_Late                    Running Late
School_Age_or_PreK                                  Pre-K
Name: 2, dtype: object

In [5]:
# Grap row method 2 Index location .iloc
my_df2.iloc[2]

School_Year                                     2015-2016
Busbreakdown_ID                                   1215800
Run_Type                                         Pre-K/EI
Bus_No                                                358
Route_Number                                            2
Reason                                      Heavy Traffic
Schools_Serviced                                     C195
Occurred_On                        09/18/2015 07:36:00 AM
Created_On                         09/18/2015 07:38:00 AM
Boro                                                Bronx
Bus_Company_Name                             G.V.C., LTD.
How_Long_Delayed                               15 MINUTES
Number_Of_Students_On_The_Bus                          12
Has_Contractor_Notified_Schools                       Yes
Has_Contractor_Notified_Parents                       Yes
Have_You_Alerted_OPT                                  Yes
Informed_On                        09/18/2015 07:38:00 AM
Incident_Number                                       NaN
Last_Updated_On                    09/18/2015 07:38:44 AM
Breakdown_or_Running_Late                    Running Late
School_Age_or_PreK                                  Pre-K
Name: 2, dtype: object

In [6]:
#Specify points (rows and column)
# my_df2.loc['Row','Column']
my_df2.loc[1,'Bus_No']

'9302'

In [8]:
# Subsets
# my.df2.loc [['Row','row],['Column','Column']]
my_df2.loc[[1,2,4],['Bus_No','Reason']]

  Bus_No         Reason
1   9302  Heavy Traffic
2    358  Heavy Traffic
4    332          Other