In [1]:
import pandas as pd
import numpy as np

In [2]:
#Pandas Series - like a table Column - 1 Dimensional Array Holding any type of Data
my_series = [5,9,12,27]
my_var = pd.Series(my_series)
my_var

0     5
1     9
2    12
3    27
dtype: int64

In [3]:
my_var[2]

12

In [5]:
#Labels using an idex argument
my_index = ['a','b','c','d']
my_var2 = pd.Series(my_series, index=my_index)
my_var2

a     5
b     9
c    12
d    27
dtype: int64

In [6]:
my_var2['b']

9

In [7]:
# Key Value Dictionary

cars = {'Tesla':12, 'Mercedes':42, 'BMW':3}
my_var3= pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64